<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zc.free.acg.mapper.CooperateMapper">
  <resultMap id="BaseResultMap" type="zc.free.acg.model.Cooperate">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cooperate_name" jdbcType="VARCHAR" property="cooperateName" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="owner_id" jdbcType="INTEGER" property="ownerId" />
    <result column="suit_for" jdbcType="VARCHAR" property="suitFor" />
    <result column="location" jdbcType="VARCHAR" property="location" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, cooperate_name, content, owner_id, suit_for, location, create_at
  </sql>
  <select id="selectByExample" parameterType="zc.free.acg.model.CooperateExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cooperate
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cooperate
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cooperate
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="zc.free.acg.model.CooperateExample">
    delete from cooperate
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="zc.free.acg.model.Cooperate">
    insert into cooperate (id, cooperate_name, content, 
      owner_id, suit_for, location, 
      create_at)
    values (#{id,jdbcType=INTEGER}, #{cooperateName,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{ownerId,jdbcType=INTEGER}, #{suitFor,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR}, 
      #{createAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="zc.free.acg.model.Cooperate">
    insert into cooperate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cooperateName != null">
        cooperate_name,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="ownerId != null">
        owner_id,
      </if>
      <if test="suitFor != null">
        suit_for,
      </if>
      <if test="location != null">
        location,
      </if>
      <if test="createAt != null">
        create_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cooperateName != null">
        #{cooperateName,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="ownerId != null">
        #{ownerId,jdbcType=INTEGER},
      </if>
      <if test="suitFor != null">
        #{suitFor,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null">
        #{createAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="zc.free.acg.model.CooperateExample" resultType="java.lang.Long">
    select count(*) from cooperate
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cooperate
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.cooperateName != null">
        cooperate_name = #{record.cooperateName,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.ownerId != null">
        owner_id = #{record.ownerId,jdbcType=INTEGER},
      </if>
      <if test="record.suitFor != null">
        suit_for = #{record.suitFor,jdbcType=VARCHAR},
      </if>
      <if test="record.location != null">
        location = #{record.location,jdbcType=VARCHAR},
      </if>
      <if test="record.createAt != null">
        create_at = #{record.createAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cooperate
    set id = #{record.id,jdbcType=INTEGER},
      cooperate_name = #{record.cooperateName,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR},
      owner_id = #{record.ownerId,jdbcType=INTEGER},
      suit_for = #{record.suitFor,jdbcType=VARCHAR},
      location = #{record.location,jdbcType=VARCHAR},
      create_at = #{record.createAt,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="zc.free.acg.model.Cooperate">
    update cooperate
    <set>
      <if test="cooperateName != null">
        cooperate_name = #{cooperateName,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="ownerId != null">
        owner_id = #{ownerId,jdbcType=INTEGER},
      </if>
      <if test="suitFor != null">
        suit_for = #{suitFor,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null">
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="zc.free.acg.model.Cooperate">
    update cooperate
    set cooperate_name = #{cooperateName,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      owner_id = #{ownerId,jdbcType=INTEGER},
      suit_for = #{suitFor,jdbcType=VARCHAR},
      location = #{location,jdbcType=VARCHAR},
      create_at = #{createAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>