<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/asserts/js/jquery-3.3.1.js}" src="asserts/js/jquery-3.3.1.js"></script>
    <link rel="stylesheet" th:href="@{/asserts/css/bootstrap.min.css}" />
    <script th:src="@{/asserts/js/bootstrap.min.js}"></script>
    <script th:src="@{/asserts/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript">
        $(function () {
           alert("页面加载完成");
           f1();
           f2();
        });
        function f1() {
            alert("执行f1函数");
        }
    </script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        function f2() {
            alert("执行f2");
        }
        /*]]>*/
    </script>

</head>
<body>
    hello
</body>
</html>