<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>我的展会页面</title>

    <link rel="stylesheet" href="/asserts/css/bootstrap.min.css" />
    <script src="/asserts/js/jquery-3.3.1.js"></script>
    <script src="/asserts/js/bootstrap.min.js"></script>
    <script src="/asserts/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" th:href="@{/asserts/css/common.css}">

</head>
<body>
    <!--引入头部head.html-->
    <div th:include="navbar :: head"></div>
    <div class="container">
        <div class="row">
            <!--引入侧边功能按钮列表-->
            <div th:include="myExhibition_left_button :: ex_left_button (activeUri='myEx')" class="col col-2" style="border: solid 1px;height: 800px;padding-top: 10px"></div>
            <div id="list_demo" class="col col-10" style="height: 800px; border: solid 1px;padding-top: 10px">
                <p class="text-center">管理展会</p><hr><br>
                <div th:each="item:${data.items}" style="border: solid 1px blue;">
                    <p th:text="${item.name}"></p>
                    <p th:text="${#dates.format(item.startAt,'yyyy-MM-dd HH:mm:ss')}"></p>
                    <p th:text="${#dates.format(item.endAt,'yyyy-MM-dd HH:mm:ss')}"></p>
                    <p th:text="${item.address}"></p>
                    <button><a th:href="@{/exhibition/update/} + ${item.id}">修改信息</a></button>
                    <button><a th:href="@{/exhibition/detail/}+${item.id} + '?name='+ ${item.name}">管理公告</a></button>
                </div>
                <nav aria-label="Page navigation example" th:if="${data.total}>5">
                    <ul class="pagination justify-content-center">
                        <!--前一页-->
                        <li th:class="${curPage}==1?'page-item disabled':'page-item'">
                            <a class="page-link" th:href="@{/exhibition/my/}+${session .SPRING_SECURITY_CONTEXT.authentication.principal.id} + '?page=' + (${curPage}-1)" tabindex="-1" aria-disabled="true">上一页</a>
                        </li>
                        <!--顺序页码-->
                        <li th:each=" i:${#numbers.sequence((curPage<=1)?1:(curPage -1), (curPage+1)>=data.totalPage?data.totalPage:((curPage==1)?curPage+2:curPage+1))}" th:class="${curPage}==${i}?'page-item active':'page-item'"><a th:text="${i}"  class="page-link" th:href="@{/exhibition/my/}+${session .SPRING_SECURITY_CONTEXT.authentication.principal.id} + '?page=' + ${i}"></a></li>
                        <!--后一页-->
                        <li th:class="${curPage}==${data.totalPage}?'page-item disabled':'page-item'">
                            <a class="page-link" th:href="@{/exhibition/my/}+${session .SPRING_SECURITY_CONTEXT.authentication.principal.id} + '?page=' + (${curPage}+1)">下一页</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</body>
</html>