<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>寻找话题页面</title>

    <link rel="stylesheet" href="/asserts/css/bootstrap.min.css" />
    <script src="/asserts/js/jquery-3.3.1.js"></script>
    <script src="/asserts/js/bootstrap.min.js"></script>
    <script src="/asserts/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" th:href="@{/asserts/css/common.css}">

</head>
<body>
    <!--引入头部head.html-->
    <div th:include="navbar :: head"></div>
    <div class="container">
        <div class="row">
            <!--引入侧边功能按钮列表-->
            <div th:include="topic_left_button.html :: topic_left_button (activeUri='topic_publish')" class="col col-2" style="border: solid 1px;height: 800px;padding-top: 10px"></div>
            <div id="list_demo" class="col col-10" style="border: solid 1px;height: 800px;padding-top: 10px">
                <p class="text-center">发布话题</p><hr><br>
                <form class="form-horizontal" th:action="@{/topic/pub}" method="post">
                    <input type="hidden" id="ownerId" name="publish_user" th:value="${session.SPRING_SECURITY_CONTEXT.authentication.principal.id}">
                    <div class="form-group">
                        <label for="topic_name">话题名称</label>
                        <input type="text" class="form-control" id="topic_name" name="title" >
                    </div>
                    <div class="form-group">
                        <label for="content">话题内容</label>
                        <input type="text-area" class="form-control" id="content" name="content" >
                    </div>
                    <button type="submit" class="btn btn-primary">发布话题</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>